
<div class="layui-fluid">
    <div class="layui-card" style="margin-top: 10px;">

        <div class="layui-card-header" lay-filter="" style="padding-top: 10px">
            <div class="layui-inline">
                <button class="layui-btn" id="permission-add-p">添加权限</button>
                <button class="layui-btn" id="permission-open-all">展开全部</button>
                <button class="layui-btn" id="permission-close-all">收起全部</button>
            </div>
        </div>

        <div class="layui-card-body">
            <table class="layui-table layui-form" id="tree-table" ></table>
        </div>

    </div>
</div>
<script>
    layui.use('permissions',layui.factory('permissions'))
</script>
