<form class="layui-form" lay-filter="customers-view-from" style="margin-top: 10px">
    <div class="layui-form-item">

        <label class="layui-form-label">公司</label>
        <div class="layui-input-inline">
            <input type="text" name="name" id="name" required lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>

        <label class="layui-form-label">联系人</label>
        <div class="layui-input-inline">
            <input type="text" name="linkman" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="phone" required lay-verify="required|lxfs" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">公司地址</label>
        <div class="layui-input-inline">
            <input type="text" name="address" required lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" id="customers-form-div-submit">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="customers-update">立即提交</button>
        </div>
    </div>
</form>
