.layui-fluid {
    padding-top: 20px;
}

.cart {
    color: #FFFFFF;
    width: 255px;
    height: 150px;
    float: left;
    text-align: center;
    margin: 10px;
    box-shadow: 3px 3px 1px #ececec;
    border-radius: 5px;
}

.cart > .num {
    width: 50px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    position: relative; /*脱离文档流*/
    top: 25%; /*偏移*/
}

.cart > .tip {
    width: 240px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    position: relative; /*脱离文档流*/
    top: 50%; /*偏移*/
}